html, body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    color: white;
}

.main-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background: gray;
}

.main-content div {
    margin: 15px;
}

.login-container {
    background: #4477aa;
}

.login-form-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.login-form-container * {
    margin: 5px;
}

input {
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    border: none;
    background: white;
}

.existing-rooms-container {
    background: #65aa67;
    padding: 15px;
}

.existing-room {
    cursor: pointer;
}

.existing-room:hover {
    background: #4477aa;
}

.room-name {
    font-weight: bold;
}

.room-occupancy {

}