html, body {
    height: 100%;
    width: 100%;
}

.main-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background: gray;
}

.login-container {
    background: #4477aa;
}

.login-form-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.login-form-container * {
    margin: 5px;
}

input {
    border-radius: 20px;
    text-align: center;
    padding: 4px;
    border: none;
}